/* Made with <3 in Germany */

/* Variables */

$gray: #ccc;
$dark-gray: #666;
$white: #fff;
$background: #1a1a1a;

$dribbble-color: #ea4c89;
$twitter-color: #55acee;
$instagram-color: #e4405f;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";

$tiny-text: 9pt;
$small-text: 12pt;
$text: 16pt;
$large-text: 21pt;
$huge-text: 37pt;

$shadow: 0 5px 10px rgba(0, 0, 0, .2);
$large-shadow: 0 20px 40px rgba(0, 0, 0, .2);

/* Mixins */

@mixin transition-set-up($property, $time, $easing) {
	transition: $property $time $easing;
	-webkit-transition: $property $time $easing;
	-moz-transition: $property $time $easing;
	-o-transition: $property $time $easing
}

@mixin gradient($firstGradientColor, $secondGradientColor) {
  background: -webkit-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -moz-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -ms-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -o-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: linear-gradient(top, $firstGradientColor, $secondGradientColor)
}

/* General */

* {
  margin: 0;
  padding: 0;
  color: $gray;
  font-family: $font;
  font-size: $text;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent
}

body {
  padding: 5%;
  text-align: center;
  background: $background
}

header {
  margin-bottom: 40px;

  li {
    margin: 0 2%;
    font-weight: 200
  }

  svg {
    margin: 40px 10px 0 10px
  }
}

h1 {
  margin-bottom: 40px;
  color: $white;
  font-size: $large-text;
  font-weight: 600;
  letter-spacing: .02em;
  cursor: default;

  span, a {
    font-size: $large-text;
    font-weight: 100
  }
}

ul {
  list-style: none
}

li {
  display: inline-block
}

a:hover {
  color: $white
}

main {
  ul p {
    margin-bottom: 20px;
    color: $dark-gray;
    font-size: $small-text;
    font-weight: 100;
    font-style: italic;
    cursor: default
  }

  li {
    margin: 0 2%
  }

  img {
    margin-bottom: 20px
  }

  h2 {
    margin-bottom: 10px;
    font-weight: 400;
    cursor: default
  }
}

footer {
  svg {
    margin: 20px 10px
  }

  p {
    color: $dark-gray;
    font-size: $small-text;
    cursor: default;

    a {
      color: $dark-gray;
      font-size: $small-text;

      &:hover {
        color: $gray
      }
    }
  }
}

::selection {
  color: $background;
  background: $white
}

::-moz-selection {
  color: $background;
  background: $white
}

/* Classes */

.current {
  color: $white;
  font-weight: 600;
  cursor: default;

  a {
    color: $white
  }
}

.work {
  img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: $shadow;
    @include transition-set-up(box-shadow, .2s, ease);

		&:hover {
			box-shadow: $large-shadow
		}
  }
}

.apps {
  img {
    margin-top: 20px;
    width: 120px
  }
}

.about {
  margin: 0 auto 40px auto;
  max-width: 800px;
  text-align: left;

  h2 {
    color: $white;
    font-size: $large-text
  }

  p {
    margin: 20px 0;
    font-weight: 200;
    line-height: 1.7;
    letter-spacing: .05em;

    a {
      font-weight: 600
    }
  }
}

.dribbble:hover {
  path {
    fill: $dribbble-color
  }
}

.github:hover {
  path {
    fill: $white
  }
}

.codepen:hover {
  path {
    fill: $white
  }
}

.twitter:hover {
  path {
    fill: $twitter-color
  }
}

.instagram:hover {
  path {
    fill: #e4405f
  }
}

.imprint {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;

  h1 {
    margin-bottom: 20px;
    color: $white;
    font-size: $huge-text
  }

  h2 {
    color: $white;
    font-size: $large-text
  }

  p {
    margin: 20px 0;
    line-height: 1.5
  }
}
