//
// index.scss
// johjakob.de
//
// © 2014-2018 Johannes Jakob
// Made with <3 in Germany
//

// Variables

$margin-padding__containers: 8%;
$margin-padding__link: .5em;
$margin-padding__inset: .5rem;

$size_mobile__text-max-width: 600px;
$size__text-max-width: 50%;

$color__white: #fff;
$color__black: #222;
$color__gray: #555;
$color__light-gray: #f3f3f3;

/*$margin-padding__containers: 8%;
$margin-padding__link-list: .5em;
$margin-padding__text-inset: $margin-padding__containers / 2;

$size__text-max-width: 600px;
$size__work-figure-max-width: 600px;

$color__white: #fff;
$color__black: #222;
$color__gray: #aaa;
$color__light-gray: #f3f3f3;
$color__dark-gray: #666;*/

$color__dribbble: #ea4c89;
$color__github: #171515;
$color__codepen: #000;
$color__twitter: #55acee;
$color__instagram: #e4405f;
$color__500px: #0099e5;

$border-radius__small: 6px;

// Mixins

@mixin three-stop-gradient($direction, $first-gradient-color, $second-gradient-color, $third-gradient-color) {
	background: -webkit-linear-gradient($direction, $first-gradient-color, $second-gradient-color, $third-gradient-color);
  background: -moz-linear-gradient($direction, $first-gradient-color, $second-gradient-color, $third-gradient-color);
  background: -ms-linear-gradient($direction, $first-gradient-color, $second-gradient-color, $third-gradient-color);
  background: -o-linear-gradient($direction, $first-gradient-color, $second-gradient-color, $third-gradient-color);
  background: linear-gradient($direction, $first-gradient-color, $second-gradient-color, $third-gradient-color);
}

// Base

* {
	margin: 0;
	padding: 0;
	color: $color__black;
	letter-spacing: .01em;
	text-decoration: none;
	box-sizing: border-box;
	outline: none
}

body {
	background: $color__white;
	font-size: 16pt;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-wrap: wrap
}

header {
	padding: $margin-padding__containers $margin-padding__containers 0 $margin-padding__containers;
	width: 100%;

	h1 {
		font-size: 1em;
		font-weight: 700;

		a {
			letter-spacing: .2em;
			text-transform: uppercase
		}
	}

	ul {
		margin: 1em 0;
		font-size: .8em;
		display: flex;
		justify-content: space-between;

		li a {
			color: $color__gray;

			&:hover {
				background: none
			}
		}
	}
}

main {
	padding: $margin-padding__containers 0 $margin-padding__inset;
	position: relative;

	h1, h2, h3, p, ul {
		margin: 0 $margin-padding__containers .7em $margin-padding__containers;
		max-width: $size_mobile__text-max-width
	}

	h1 {
		margin-top: -.2em;
		font-size: 1.2em;
	}

	h2 {
		font-size: 1em;
		font-weight: 500;
	}

	h3 {
		color: lighten($color__black, 10%);
		font-size: 1em;
		font-weight: 500
	}

	p {
		color: $color__gray;
		line-height: 1.5;

		a {
			font-weight: 500
		}
	}
}

footer {
	padding: 2em $margin-padding__containers $margin-padding__containers $margin-padding__containers;
	width: 100%;

	ul {
		margin-bottom: $margin-padding__inset * 2;
		display: flex;
		justify-content: space-between
	}

	p {
		color: $color__gray;
		font-size: .8em;
		line-height: 1.2;

		a {
			color: $color__gray;

			&:hover {
				color: $color__black
			}
		}
	}
}

ul {
	list-style: none
}

figure {
	margin-bottom: 1em;

	img {
		width: 100%
	}
}

// Classes

.nav-li-active {
	font-weight: 700;

	a {
		color: $color__black
	}
}

.main-work, .main-photos {
	a {
		margin: 0 auto $margin-padding__inset * 3 auto;
		display: block;

		img {
			width: 100%
		}

		figcaption {
			margin: $margin-padding__inset $margin-padding__containers 0 $margin-padding__containers;
			font-weight: 500;

			span {
				margin-top: .2em;
				color: $color__gray;
				font-size: .8em;
				font-weight: 400;
				display: block
			}
		}
	}
}

.main-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center
}

.main-detail {
	img {
		margin-bottom: $margin-padding__inset * 2;
		width: 100%;
		max-width: 1000px;
		height: auto;
		display: block
	}
}

.section-more {
	padding: 0 $margin-padding__containers;
	position: relative;

	&:before {
		left: 0;
		position: absolute;
		width: 17px;
		height: 100%;
		content: "";
		background: url('/images/arrow.svg');
		background-position: center center;
		background-repeat: no-repeat;
		display: none;
		-webkit-animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse;
		-moz-animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse;
		-o-animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse;
		animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse
	}
}

.main-photos a {
	margin: 0 0 $margin-padding__inset * 3 0
}

.a-dribbble:hover {
	color: $color__dribbble
}

.a-500px:hover {
	color: $color__500px
}

.a-instagram:hover {
	color: $color__instagram
}

.ul-a-dribbble:hover svg path {
	fill: $color__dribbble
}

.ul-a-github:hover svg path {
	fill: $color__github
}

.ul-a-codepen:hover svg path {
	fill: $color__codepen
}

.ul-a-twitter:hover svg path {
	fill: $color__twitter
}

.ul-a-instagram:hover svg path {
	fill: $color__instagram
}

.a-back {
	margin: 0 $margin-padding__containers $margin-padding__inset * 2 $margin-padding__containers;
	padding: $margin-padding__inset $margin-padding__inset $margin-padding__inset $margin-padding__inset * 2.5;
	position: relative;
	color: $color__gray;
	font-size: .8em;
	display: block;

	&:before {
		top: .025em;
		left: 0;
		position: absolute;
		width: 17px;
		height: 100%;
		content: "";
		background: url('/images/back_arrow.svg') center center no-repeat
	}
}

.ul-default {
	margin-left: $margin-padding__inset * 6;
	color: $color__gray;
	list-style: inherit
}

.ul-skills {
	margin-bottom: .5em;
	line-height: 1.5;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	li {
		margin: .2em .4em .2em 0;
		padding: .5em .8em;
		color: $color__gray;
		font-size: .8em;
		background: $color__light-gray;
		border-radius: $border-radius__small
	}
}

.p-hint {
	margin-top: 1.2em;
	color: lighten($color__black, 40%);
	font-size: .8em;

	a {
		color: $color__gray;

		&:hover {
			color: $color__black
		}
	}
}

.a-mail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld)
}

// Screen Size Adaptions

@media (min-width: 801px) {
	// Base

	header {
		padding: $margin-padding__containers $margin-padding__containers / 4 0 $margin-padding__containers;
		position: fixed;
		width: 25vw;

		ul {
			display: inherit;

			li a {
				margin-left: -1 * $margin-padding__link;
				padding: $margin-padding__link;
				display: block;
				border-radius: $border-radius__small;
	
				&:hover {
					color: $color__black;
					background: $color__light-gray
				}
			}
		}
	}

	main, footer {
		width: 75vw;
		transform: translateX(25vw)
	}

	main {
		padding: $margin-padding__containers $margin-padding__containers $margin-padding__inset $margin-padding__containers / 2;

		h1, h2, h3, p, ul {
			margin: 0 $margin-padding__inset * 2 .7em $margin-padding__inset * 2;
			max-width: $size__text-max-width;
		}
	}

	footer {
		padding-left: $margin-padding__containers / 2;

		ul, p {
			margin-left: $margin-padding__inset * 2
		}

		ul {
			justify-content: flex-start;

			li {
				margin-right: $margin-padding__inset * 3
			}
		}
	}

	// Classes

	.main-work a {
		margin: 0 0 $margin-padding__inset * 3 0;
		width: 48%;
		max-width: 600px;
	}

	.main-work a figcaption, .main-photos a figcaption {
		margin: $margin-padding__inset $margin-padding__inset * 2 0 $margin-padding__inset * 2
	}

	.section-more {
		padding: 0 $margin-padding__containers / 2;
		width: 75vw;
		transform: translateX(25vw);

		&:before {
			display: block
		}

		p {
			margin-left: $margin-padding__inset * 2
		}
	}

	.a-back {
		margin: -.4em $margin-padding__inset * 2 $margin-padding__inset * 2 $margin-padding__inset * 2;

		&:hover {
			color: $color__black;
			
			&:before {
				left: 0;
				background: url('/images/back_arrow-hovered.svg') center center no-repeat
			}
		}
	}

	.figure-float-right {
		right: 0;
		position: absolute;
		max-width: 48%
	}
}

// Keyframes

@-webkit-keyframes arrow-animation {
	from { left: 2em }
	to { left: 2.5em }
}

@-moz-keyframes arrow-animation {
	from { left: 2em }
	to { left: 2.5em }
}

@-o-keyframes arrow-animation {
	from { left: 2em }
	to { left: 2.5em }
}

@keyframes arrow-animation {
	from { left: 2em }
	to { left: 2.5em }
}

/*header {
	padding: $margin-padding__containers $margin-padding__containers 0 $margin-padding__containers;

	h1 {
		font-size: 1em;
		font-weight: 700;

		a {
			letter-spacing: .2em;
			text-transform: uppercase
		}
	}

	ul {
		margin: 1em 0 1em -1 * $margin-padding__link-list;
		display: flex;
		justify-content: space-between;

		li a:hover {
			background: none
		}
	}
}

nav ul {
	margin: .5em 0 1.5em -1 * $margin-padding__link-list;
	font-size: .8em;
	list-style: none;

	li {
		margin: $margin-padding__link-list 0;

		a {
			padding: $margin-padding__link-list;
			color: $color__gray;
			border-radius: $border-radius__small;
			display: block;

			&:hover {
				color: $color__black
			}
		}
	}
}

main {
	figure img {
		margin: 0 auto;
		width: 100%;
		max-width: $size__work-figure-max-width;
		display: block
	}

	section {
		margin-bottom: $margin-padding__containers / 2;
	
		h1 {
			margin-top: 2em;
			margin-bottom: .2em;
			font-size: 1.2em
		}
	}

	h1, p {
		margin-bottom: .5em;
		max-width: $size__text-max-width
	}

	h1 {
		margin-top: -.2em;
		font-size: 1.2em
	}
}

/* img {
	margin-bottom: 2em;
	width: 100%;
	max-width: $size__image-max-width;
	display: block;
	border-radius: $border-radius__small
}

p {
	color: $color__gray;
	line-height: 1.5;

	a {
		font-weight: 700
	}
}

footer {
	padding: 1em $margin-padding__containers 2em $margin-padding__containers;

	section {
		margin-bottom: 2em
	}

	p {
		margin-top: 2em;
		color: $color__gray;
		font-size: .8em
	}

	a {
		color: $color__gray;
		font-weight: 400;

		&:hover {
			color: $color__black
		}
	}
}

// Classes

.nav-li-active a {
	color: $color__black;
	font-weight: 500
}

.section-more {
	margin-bottom: $margin-padding__containers / 2;
	position: relative;

	&:before {
		left: .75em;
		position: absolute;
		width: 17px;
		height: 100%;
		content: "";
		background: url('/images/arrow.svg');
		background-position: center center;
		background-repeat: no-repeat;
		display: none;
		-webkit-animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse;
		-moz-animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse;
		-o-animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse;
		animation: arrow-animation 1s ease-in-out 0s infinite alternate-reverse
	}
}

.section-more-dribbble a:hover {
	color: $color__dribbble
}

.section-more-500px a:hover {
	color: $color__500px
}


.div-gallery {
	position: relative;

	li {
		top: 0;
		left: 0;
		position: absolute;
		z-index: 2;
		width: 0;
		height: 0;
		background: $color__white;
		display: none;

		&:target {
			margin-top: -2em;
			padding-top: 2em;
			width: auto;
			height: auto;
			display: block
		}
	}

	p {
		margin: -1em 0 0 0;
		max-width: $size__work-figure-max-width;
		color: $color__gray;
		font-size: .8em;
		text-align: center
	}
}


.p-category {
	margin-bottom: 1em;
	font-size: .8em;
	font-weight: 500;
	line-height: 1.2;
}

.p-hint {
	margin-top: 1.2em;
	color: lighten($color__black, 40%);
	font-size: .8em;

	a {
		color: $color__gray;

		&:hover {
			color: $color__black
		}
	}
}

.a-back {
	margin: -.7em 0 2em 0;
	padding: $margin-padding__link-list $margin-padding__link-list $margin-padding__link-list $margin-padding__link-list * 2.5;
	position: relative;
	color: $color__gray;
	font-size: .8em;
	display: inline-block;

	&:before {
		top: .025em;
		left: 0;
		position: absolute;
		width: 17px;
		height: 100%;
		content: "";
		background: url('/images/back_arrow.svg') center center no-repeat
	}

	&:hover {
		color: $color__black;

		&:before {
			left: 0;
			background: url('/images/back_arrow-hovered.svg') center center no-repeat
		}
	}
}

.ul-social {
	list-style: none;
	display: flex;

	li {
		margin-right: 1em
	}

	svg path {
		fill: $color__black
	}
}

.a-dribbble:hover svg path {
	fill: $color__dribbble
}

.a-github:hover svg path {
	fill: $color__github
}

.a-codepen:hover svg path {
	fill: $color__codepen
}

.a-twitter:hover svg path {
	fill: $color__twitter
}

.a-instagram:hover svg path {
	fill: $color__instagram
}

.ul-skills {
	margin-bottom: .5em;
	line-height: 1.5;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	li {
		margin: .2em .4em .2em 0;
		padding: .5em .8em;
		color: $color__gray;
		font-size: .8em;
		background: $color__light-gray;
		border-radius: $border-radius__small
	}
}

// Keyframes

@-webkit-keyframes arrow-animation {
	from { left: .5em }
	to { left: .75em }
}

@-moz-keyframes arrow-animation {
	from { left: .5em }
	to { left: .75em }
}

@-o-keyframes arrow-animation {
	from { left: .5em }
	to { left: .75em }
}

@keyframes arrow-animation {
	from { left: .5em }
	to { left: .75em }
}

// Screen size adaptations

@media (min-width: 801px) {
	// Base

	header {
		padding: $margin-padding__containers $margin-padding__containers / 4 0 $margin-padding__containers;
		position: fixed;
		width: 25vw;

		ul {
			display: inherit
		}
	}

	nav ul {
		margin-top: 1.5em;

		li:hover {
			background: $color__light-gray;
			border-radius: $border-radius__small;
		}
	}

	main, footer {
		width: 75vw;
		transform: translateX(25vw)
	}

	main {
		padding: $margin-padding__containers $margin-padding__containers 0 $margin-padding__containers / 4;

		h1, p {
			margin-left: $margin-padding__text-inset
		}
	}

	footer {
		padding: 0 $margin-padding__containers 2em $margin-padding__containers / 4;

		ul, p {
			margin-left: $margin-padding__text-inset
		}
	}

	// Classes

	.main-work {
		display: flex
	}

	.img-photo-portrait {
		width: auto;
		max-height: $size__work-figure-max-width
	}

	.section-more:before {
		display: block
	}

	.a-back {
		margin-left: 1em;
		padding-left: 1em + $margin-padding__link-list;
		transition: left .2s ease-out;

		&:before {
			left: .5em;
		}

		&:hover {
			background: $color__light-gray;
			border-radius: $border-radius__small;

			&:before {
				left: .2em
			}
		}
	}

	.ul-skills {
		margin-left: $margin-padding__text-inset;
		max-width: $size__text-max-width
	}
}*/
