/* Made with <3 in Germany */

$gray: #aaa;
$darkGray: #888;

$font: -apple-system, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$tinyText: 9pt;
$smallText: 12pt;
$text: 16pt;
$largeText: 21pt;
$hugeText: 37pt;

$shadow: 0 4px 10px rgba(29, 29, 27, 0.25);

@mixin gradient($firstGradientColor, $secondGradientColor) {
  background: linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -webkit-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -moz-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -ms-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -o-linear-gradient(top, $firstGradientColor, $secondGradientColor);
}

body {
  margin: 4%;
  padding: 0;
  color: #000;
  font-family: $font;
  font-size: $text;
  text-align: center;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
  font-size: $hugeText;
  font-weight: 300;
  cursor: default;
}

h2 {
  margin-bottom: 20px;
  color: $darkGray;
  font-size: $largeText;
  font-weight: 400;
  text-align: left;
  cursor: default;
}

header {
  p {
    margin: 0;
    color: $gray;
    font-size: $largeText;
    font-weight: 300;
    cursor: default;
  }

  .ripples {
    height: 120px;
  }

  .ripple {
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 100%;
    box-shadow: $shadow;
    transform: translate(-50%, -50%);
    transition: transform .25s ease;

    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  .outer {
    left: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
    @include gradient(#ff5e3a, #ff2a68);
    border-radius: 100%;
    box-shadow: $shadow;
    transform: translate(-50%);
    transition: transform .25s ease;

    &:hover {
      transform: translate(-50%) scale(1.05);
    }
  }

  .middle {
    width: 70%;
    height: 70%;
    @include gradient(#ff9500, #ff5e3a);
  }

  .inner {
    width: 50%;
    height: 50%;
    @include gradient(#ffdb4c, #ffcd02);
  }
}

section {
  margin: 40px 6% 40px 6%;
  clear: both;
}

footer {
  margin-top: 100px;

  p {
    color: $gray;
    font-size: $smallText;

    a:hover {
      color: $darkGray;
    }
  }
}

.atvImg {
  margin: 20px;
  width: 240px;
  height: 144px;
  display: inline-block;
}

.icon {
  margin: 1%;
  width: 120px;
}

.social svg {
  margin-bottom: 10px;
  height: 40px;
}

.twitter:hover path {
  fill: #55acee;
}

.instagram:hover path {
  fill: #125688;
}

.imprint {
  text-align: left;
}

.hint {
  color: $gray;
  font-size: $smallText;
}
