/* Made with <3 in Germany */

$gray: #aaa;
$darkGray: #888;
$lightGray: #ccc;

$font: -apple-system, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$tinyText: 9pt;
$smallText: 12pt;
$text: 16pt;
$largeText: 21pt;
$hugeText: 37pt;

$shadow: 0 4px 10px rgba(0, 0, 0, .1);
$largeShadow: 0 8px 20px rgba(0, 0, 0, .1);

@mixin gradient($firstGradientColor, $secondGradientColor) {
  background: linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -webkit-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -moz-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -ms-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -o-linear-gradient(top, $firstGradientColor, $secondGradientColor);
}

body {
  margin: 8%;
  padding: 0;
  color: #000;
  font-family: $font;
  font-size: $text;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

header {
  img {
    width: 60px;
    transition: transform .25s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  p {
    margin: 0 0 20px 0;
    max-width: 400px;
    color: $gray;
    font-size: $largeText;
    font-weight: 300;
    cursor: default;
  }

  svg {
    margin: 8px;
  }
}

h1 {
  margin: 20px 0 10px 0;
  font-size: $hugeText;
  font-weight: 300;
  cursor: default;
}

h2 {
  margin-bottom: 20px;
  color: $darkGray;
  font-size: $largeText;
  font-weight: 400;
  text-align: left;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

footer {
  color: $lightGray;
  font-size: $smallText;
  cursor: default;

  a:hover {
    color: $gray;
  }
}

p {
  line-height: 1.5;
}

.dribbble:hover {
  path {
    fill: #ea4c89;
  }
}

.github:hover {
  path {
    fill: #333;
  }
}

.codepen:hover {
  path {
    fill: #000;
  }
}

.twitter:hover {
  path {
    fill: #55acee;
  }
}

.instagram:hover {
  path {
    fill: #e4405f;
  }
}

.tabs {
  padding: 0;
  list-style: none;

  li {
    margin: 20px 20px 20px 0;
    color: $lightGray;
    display: inline-block;
  }

  a:hover {
    color: $gray;
  }

  .active {
    color: #000;
    cursor: default;
  }
}

.portfolio {
  img {
    margin: 20px 40px 40px 20px;
    width: 85%;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: $shadow;
    transition: box-shadow .25s ease;

    &:hover {
      box-shadow: $largeShadow;
    }
  }
}

.apps, .misc {
  img {
    margin: 20px;
    height: 120px;
  }
}

.imprint {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
}

.hint {
  color: $gray;
  font-size: $smallText;
}
